Plugin.Abstraction/.vs/Plugin.Abstraction/v17/.suo
Plugin.Abstraction/.vs/Plugin.Abstraction/v17/.futdcache.v2
Plugin.Abstraction/.vs/Plugin.Abstraction/FileContentIndex/5e9d2707-ab21-4b98-90cd-91e31787687e.vsidx
Plugin.Abstraction/.vs/Plugin.Abstraction/DesignTimeBuild/.dtbcache.v2
Plugin.Abstraction/.vs/ProjectEvaluation/plugin.abstraction.metadata.v7.bin
Plugin.Abstraction/.vs/ProjectEvaluation/plugin.abstraction.projects.v7.bin
/.vs/Plugin.Abstraction/FileContentIndex
/.vs/Plugin.Abstraction/v17
/Plugin.Abstraction/Plugin.Abstraction/bin/Debug/netstandard2.1
/Plugin.Core/bin/Debug/netstandard2.1
/Plugin.Core/obj/Debug/netstandard2.1
/Plugin.Core/obj
/PluginDemoWeb/bin/Debug/net8.0
/ProjectModule/bin/Debug/net8.0
/PluginDemoWeb/obj
/ProjectModule/obj/Debug/net8.0
/ProjectModule/obj
/Plugin.Abstraction/Plugin.Abstraction/obj/Plugin.Abstraction.csproj.nuget.dgspec.json
/Plugin.Abstraction/Plugin.Abstraction/obj/Plugin.Abstraction.csproj.nuget.g.props
/Plugin.Abstraction/Plugin.Abstraction/obj/Plugin.Abstraction.csproj.nuget.g.targets
/Plugin.Abstraction/Plugin.Abstraction/obj/project.assets.json
/Plugin.Abstraction/Plugin.Abstraction/obj/project.nuget.cache
/Plugin.Abstraction/Plugin.Abstraction/obj/Debug/netstandard2.1/Plugin.Abstraction.AssemblyInfo.cs
/Plugin.Abstraction/Plugin.Abstraction/obj/Debug/netstandard2.1/Plugin.Abstraction.AssemblyInfoInputs.cache
/Plugin.Abstraction/Plugin.Abstraction/obj/Debug/netstandard2.1/Plugin.Abstraction.assets.cache
/Plugin.Abstraction/Plugin.Abstraction/obj/Debug/netstandard2.1/Plugin.Abstraction.csproj.AssemblyReference.cache
/Plugin.Abstraction/Plugin.Abstraction/obj/Debug/netstandard2.1/Plugin.Abstraction.csproj.CoreCompileInputs.cache
/Plugin.Abstraction/Plugin.Abstraction/obj/Debug/netstandard2.1/Plugin.Abstraction.csproj.FileListAbsolute.txt
/Plugin.Abstraction/Plugin.Abstraction/obj/Debug/netstandard2.1/Plugin.Abstraction.dll
/Plugin.Abstraction/Plugin.Abstraction/obj/Debug/netstandard2.1/Plugin.Abstraction.pdb
/Plugin.Abstraction/Plugin.Abstraction/obj/Debug/netstandard2.1/Plugin.Abstraction.sourcelink.json
/Libary/Core/Plugin.Abstraction/bin/Debug/netstandard2.1
/Libary/Core/Plugin.Abstraction/obj
/Libary/Core/Plugin.Core/bin/Debug/netstandard2.1
/Libary/Core/Plugin.Core/obj
/Libary/Storages/DNH.Storage.MongoDB/obj
/Modules/Projects/ProjectModule/bin/Debug/net8.0
/Modules/Projects/ProjectModule/obj
/Modules/Projects/ProjectModule.Abstraction/bin/Debug/netstandard2.1
/Modules/Projects/ProjectModule.Abstraction/obj
/Modules/Projects/ProjectModule.Repository/bin/Debug/netstandard2.1
/Modules/Projects/ProjectModule.Repository/obj
/Webs/PluginDemoWeb/bin/Debug/net8.0
/Webs/PluginDemoWeb/obj
/.vs/MongoDBDemo/FileContentIndex
/.vs
/.vs/MongoDBDemo
/.vs/MongoDBDemo/DesignTimeBuild
/.vs/MongoDBDemo/DesignTimeBuild/.dtbcache.v2
/.vs/MongoDBDemo/v17
/.vs/MongoDBDemo/v17/.futdcache.v2
/.vs/MongoDBDemo/v17/.suo
/.vs/MongoDBDemo/v17/DocumentLayout.json
/.vs/ProjectEvaluation
/.vs/ProjectEvaluation/mongodbdemo.metadata.v7.bin
/.vs/ProjectEvaluation/mongodbdemo.projects.v7.bin
/Libary/Core/DNH.Infrastructure.Queues.Kafka/bin/Debug/netstandard2.1
/Libary/Core/DNH.Infrastructure.Queues.Kafka/obj
/Libary/Core/Plugin.OpenAPI/bin/Debug/net6.0
/Libary/Core/Plugin.OpenAPI/obj
/Modules/Orders/Demo.Orders.Abstract/bin/Debug/net8.0
/Modules/Orders/Demo.Orders.Abstract/obj
/Modules/Orders/Demo.Orders.Businesses/bin/Debug/net8.0
/Modules/Orders/Demo.Orders.Businesses/obj
/Modules/Orders/Demo.Orders.Controlers/bin/Debug/net8.0
/Modules/Orders/Demo.Orders.Controlers/obj
/Modules/Orders/Demo.Orders.Infastructure/bin/Debug/net8.0
/Modules/Orders/Demo.Orders.Infastructure/obj
/Modules/Payment/Demo.Payment.Asbtract/bin/Debug/net8.0
/Modules/Payment/Demo.Payment.Asbtract/obj
/Modules/Payment/Demo.Payment.Businesses/bin/Debug/net8.0
/Modules/Payment/Demo.Payment.Businesses/obj
/Modules/Payment/Demo.Payment.Controllers/bin/Debug/net8.0
/Modules/Payment/Demo.Payment.Controllers/obj
/Modules/Payment/Demo.Payment.Repositories/bin/Debug/net8.0
/Modules/Payment/Demo.Payment.Repositories/obj
/Modules/Orders/Demo.Orders.Api/bin/Debug/net8.0
/Modules/Orders/Demo.Orders.Api/obj
/Modules/Orders/Demo.Orders.Application/bin/Debug/net8.0
/Modules/Orders/Demo.Orders.Application/obj
/Modules/Orders/Demo.Orders.Domain/bin/Debug/net8.0
/Modules/Orders/Demo.Orders.Domain/obj
/Modules/Orders/Demo.Orders.Testing/obj
